.top-bar {
  height: 44px;
  background-color: $site-orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .join {
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .join-us {
      font-size: 1.2em;
      color: $site-dark-green;
    }
  }
}
