.contact {
  width: $content-width;
  margin: 0 auto;

  h1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
    color: $site-brown;
  }
  .contact-form {
    width: 300px;
    margin: 0 auto;
    padding-right: 500px;

    input {
      width: 529px;
      height: 60px;
      background-color: #f5f5f5;
      border: none;
      margin-bottom: 21px;
    }
    button {
      background-color: $site-orange;
      width: 167px;
      height: 60px;
      border: none;
      color: #fff;
      font-size: 16px;
      margin: 0 auto;
      margin-left: 175px;
    }
    button:hover {
      background-color: $site-teal;
    }
  }
}
