* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 {
  .roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }
}
h2,
h3,
h4,
h5,
h6,
p {
  .roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
  }
  margin-bottom: 16px;
}
