$home-content-width: 900px;
$content-width: 980px;

//colors
$site-dark-green: rgb(38, 51, 59);
$site-black-green: #384b49;
$site-brown: #995b36;
$site-teal: #5e7d78;
$site-orange: #c08b57;
$site-white: #ffffff;
